 

 :root{

    --body-color: #;
     --sidebar-color: #;
     --primary-color: #;
     --primary-color-light:#;
     --toggle-color: #;
     --text-color:#;
/* ====== Transition ====== */
    --tran-03 :#;
    --tran-03 :#;
    --tran-04 :#;
    --tran-05 :#;
 }