.col-8 {
  height: 100vh;
  /* border: 1px solid grey; */
  background-image: url("../../img/bg_login.gif");
  background-size: cover;
  background-position: center center;
}
.margin {
  text-align: center;
  margin: 5px 50px auto;
  border: none;
}
.form-control {
  height: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  /* font: optional */
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}
.col-4 {
  /* background-color: #1c2833; */
}
.bg-btn {
  background-color: #29c7ca;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.garis {
  margin-top: 20px;
  margin-bottom: 5px;

  /* margin: 10px 50px auto; */
  width: 100%;
  background-color: grey;
  height: 2px;
}
.garis2 {
  width: 100%;
  background-color: grey;
  height: 2px;
}
